@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}

footer {
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 50px;
  padding: 0;
  width: 50px;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
}
